---
import imgSala from "@assets/img/office.png"; // reemplaza con tu imagen real
import { Image } from "astro:assets";
---

<section class="relative w-full overflow-hidden" id="nosotros">
  <div class="flex flex-col md:flex-row md:min-h-[80vh]">
    <!-- Imagen fuera del contenedor -->
    <div class="flex-1">
      <Image src={imgSala} alt="Sala Beacon" class="h-full object-cover" />
    </div>

    <!-- Contenido -->
    <div
      class="relative bg-gradient-to-br from-[#9279D1] to-[#260E59] text-white w-full flex-1 h-full
      flex items-center md:my-8 lg:my-16 px-6 py-16 md:p-20 md:min-h-[100vh]"
    >
      <div
        class="max-w-xl mx-auto space-y-6 text-base md:text-xl leading-relaxed"
      >
        <p>
          En Nobilis, nos especializamos en la comercialización de equipos de
          tecnología médica y soluciones de almacenamiento, brindando productos
          de alta calidad que responden a las exigencias de los sectores salud,
          industrial y corporativo.
        </p>
        <p>
          Nuestro compromiso es ofrecer soluciones tecnológicas confiables, de
          alta calidad, eficientes y adaptadas a las necesidades específicas de
          cada cliente.
        </p>
      </div>
    </div>
  </div>
</section>
