---
// src/components/ProductGrid.astro
import { getCollection } from "astro:content";
import ProductCard from "./ProductCard.astro";
import ProductModal from "./ProductModal.astro";

const products = await getCollection("risPacs");
---

<section class="py-32 lg:py-48" id={"productos"}>
  <h2
    class="text-primary-1 text-3xl font-light text-center mb-12 lg:mb-16 uppercase"
  >
    Nuestros Productos
  </h2>

  <>
    <div class="container mx-auto px-6 grid lg:grid-cols-2 gap-8">
      {products.map((product) => <ProductCard product={product.data} />)}
    </div>

    {products.map((product) => <ProductModal product={product.data} />)}
  </>
</section>

