---

---

<footer class="bg-primary-1 text-white text-xs py-12">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between gap-2 text-center md:text-left"
  >
    <!-- Logo -->
    <svg
      class="mb-4 md:mb-0"
      width="147"
      height="20"
      viewBox="0 0 147 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M35.7534 7.49194H43.4111C43.9768 7.49194 44.4377 7.95221 44.4377 8.51709V10.3582C44.4377 10.923 43.9768 11.3833 43.4111 11.3833H35.7534C35.1877 11.3833 34.7268 10.923 34.7268 10.3582V8.51709C34.7268 7.95221 35.1877 7.49194 35.7534 7.49194Z"
        fill="#00B9EF"></path>
      <path
        d="M112.466 0.927734H104.804C99.4033 0.927734 95.0088 5.01787 95.0088 10.0495C95.0088 15.0811 99.4033 19.0195 104.804 19.0195H112.466C117.867 19.0195 122.261 15.0758 122.261 10.0495C122.261 5.0231 117.867 0.927734 112.466 0.927734ZM111.539 15.9911H105.542C101.514 15.9911 98.23 13.5486 98.23 10.0495C98.23 6.55036 101.509 3.70505 105.542 3.70505H111.539C115.567 3.70505 118.846 6.55559 118.846 10.0495C118.846 13.5433 115.567 15.9911 111.539 15.9911Z"
        fill="white"></path>
      <path
        d="M142.783 0.927838V15.1282C142.783 16.1848 142.202 16.3207 141.631 16.3207C141.4 16.3207 141.028 16.2109 140.641 15.7611C140.253 15.3113 133.208 4.28572 132.664 3.4384C131.218 1.19982 129.573 0.922607 128.52 0.922607C126.017 0.922607 123.969 2.81599 123.969 5.0755V19.1765H127.316V4.74076C127.316 4.05035 127.902 3.75222 128.458 3.75222C128.662 3.75222 129.076 3.83591 129.343 4.22819C129.505 4.46355 137.43 16.7339 137.43 16.7339C138.352 18.1932 140.159 19.1504 141.589 19.1504C144.543 19.1504 146.135 17.3564 146.135 15.0968V0.927838H142.788H142.783Z"
        fill="white"></path>
      <path
        d="M94.9617 15.9911H82.8519C78.9288 15.9911 75.7285 13.4283 75.7285 9.77225C75.7285 6.11624 78.8136 3.74689 82.7419 3.74689H94.9827C95.805 2.65898 96.8369 1.70183 98.0311 0.927734H82.5481C77.0013 0.927734 72.5125 4.60467 72.5125 9.77225C72.5125 14.9398 77.127 19.0509 82.6738 19.0509H98.094C96.8997 18.2716 95.7893 17.079 94.9617 15.9911Z"
        fill="white"></path>
      <path
        d="M60.2925 0.823242C57.6107 0.823242 56.1913 2.92061 56.0079 3.18213C55.8194 3.44365 46.9256 15.9494 46.9256 15.9494H31.474C30.8297 15.9494 30.3583 15.3898 30.3531 14.7883V5.47825C30.3531 4.54202 31.1335 3.7627 32.0397 3.7627H47.1613C48.3764 3.7627 49.3664 2.75847 49.3978 1.53457V0.896467H31.0131C28.9808 0.896467 27.3466 2.62248 27.3047 4.66232V17.8951C27.3047 18.5907 27.9542 19.0615 28.6141 19.0562H48.3869C49.225 18.9935 49.2564 18.2874 50.833 16.2371C50.833 16.2371 58.4016 5.24812 58.6268 4.93429C58.8311 4.64663 59.5696 3.76793 60.4234 3.76793C61.0048 3.76793 61.4238 4.00852 61.8324 4.5734C63.3147 6.63939 69.1234 16.0069 69.1234 16.0069H57.6683C56.736 16.0069 55.5261 17.0582 55.5261 18.3658V19.0615H74.7331C74.7331 19.0615 65.5669 4.63093 63.917 2.60679C63.0476 1.5398 61.9633 0.823242 60.2925 0.823242Z"
        fill="white"></path>
      <path
        d="M24.7749 6.49805C24.7749 3.48014 23.0778 0.927734 18.9976 0.927734H3.93884C1.76514 0.927734 0.057616 2.71651 0 4.80865C0 4.80865 0 16.4409 0 17.6858C0 18.5697 0.696627 19.0195 1.35135 19.0195H19.0028C22.1403 19.0195 24.7801 16.5979 24.7801 13.5799C24.7801 12.5443 24.4187 11.2106 23.5702 10.1227C24.7801 9.1603 24.7801 7.38198 24.7801 6.49805H24.7749ZM19.359 16.0487H4.14835C3.57743 16.0487 3.04317 15.5518 3.04317 14.9085V5.31599C3.04317 4.56282 3.81313 3.79396 4.52547 3.79396H19.3642C20.9617 3.79396 21.9046 4.91326 21.9046 6.13193C21.9046 7.3506 20.8937 8.36006 19.9613 8.36006H9.3757C8.07672 8.36006 7.02391 9.40613 6.98725 10.7137V11.3989H19.6261C20.9094 11.3989 21.9465 12.4345 21.9465 13.7159C21.9465 14.9974 21.0613 16.0539 19.3747 16.0539L19.359 16.0487Z"
        fill="white"></path>
    </svg>

    <!-- Texto y links -->
    <div
      class="flex flex-1 flex-col md:flex-row items-center justify-center gap-2 md:gap-4
        font-light text-sm md:text-base lg:text-lg text-center md:text-left"
    >
      <span>Beacon® es una marca representada por Distribuidora Sevimex®</span
      >
      <a href="/aviso-de-privacidad" class="hover:underline"
        >Aviso de privacidad</a
      >
      <a href="/politica-de-garantia" class="hover:underline"
        >Política de garantía</a
      >
    </div>

    <div></div>
  </div>
</footer>
