---

---

<footer class="bg-primary-2 text-white text-xs py-12">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between gap-2 text-center md:text-left"
  >
    <!-- Logo -->
    <svg
      width="120"
      height="40"
      viewBox="0 0 120 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M119.541 22.631C119.265 22.341 118.867 22.1731 118.439 22.1731C118.01 22.1731 117.628 22.3563 117.337 22.631C117.062 22.921 116.878 23.3178 116.878 23.7452C116.878 24.1725 117.046 24.5846 117.337 24.8593C117.613 25.1493 118.01 25.3172 118.439 25.3172C118.867 25.3172 119.25 25.1341 119.541 24.8593C119.816 24.5694 120 24.1725 120 23.7452C120 23.3178 119.832 22.9057 119.541 22.631ZM119.311 24.6304C119.082 24.8593 118.776 24.9967 118.439 24.9967C118.102 24.9967 117.796 24.8593 117.567 24.6304C117.337 24.4015 117.215 24.0962 117.215 23.7452C117.215 23.3941 117.352 23.0889 117.567 22.8599C117.796 22.631 118.102 22.4936 118.439 22.4936C118.776 22.4936 119.082 22.631 119.311 22.8599C119.541 23.0889 119.663 23.3941 119.663 23.7452C119.663 24.0962 119.526 24.4015 119.311 24.6304Z"
        fill="#F7F7F7"></path>
      <path
        d="M119.097 24.2641C119.021 24.1267 118.959 24.0352 118.913 23.9894C118.868 23.9436 118.806 23.8978 118.73 23.852C118.883 23.8367 118.99 23.7757 119.051 23.6994C119.128 23.6231 119.158 23.5162 119.158 23.3789C119.158 23.2415 119.128 23.1957 119.082 23.1194C119.036 23.0431 118.975 22.982 118.883 22.9515C118.791 22.921 118.669 22.9057 118.5 22.9057H117.796V24.5999H118.133V23.8978H118.209C118.286 23.8978 118.347 23.8978 118.378 23.9131C118.408 23.9131 118.454 23.9436 118.485 23.9894C118.516 24.0199 118.577 24.1115 118.669 24.2336L118.913 24.5999H119.311L119.112 24.2641H119.097ZM118.393 23.6231H118.148V23.1957H118.408C118.546 23.1957 118.623 23.1957 118.653 23.1957C118.699 23.1957 118.745 23.2262 118.776 23.2568C118.806 23.2873 118.822 23.3331 118.822 23.3941C118.822 23.4552 118.822 23.4857 118.791 23.5162C118.76 23.5468 118.745 23.5773 118.699 23.5925C118.653 23.6078 118.561 23.6078 118.393 23.6078V23.6231Z"
        fill="#F7F7F7"></path>
      <path
        d="M12.932 21.12C15.7174 19.029 18.4109 16.709 21.1657 14.6486C22.9256 20.8758 24.5326 27.2709 26.2313 33.2691C26.3691 33.2691 26.5068 33.2691 26.6446 33.2691C27.9913 27.0419 29.3534 20.8147 30.7155 14.5417H35.2149C34.6333 17.3043 34.0977 20.0211 33.5161 22.7226C32.3683 28.0035 31.1746 33.2539 30.0727 38.5348C29.9044 39.3284 29.6136 39.5879 28.8331 39.5574C27.3792 39.5116 25.9253 39.4963 24.4867 39.5574C23.7062 39.5879 23.4001 39.3284 23.2011 38.5806C21.7472 33.1012 20.2321 27.6372 18.7323 22.1578C18.5793 21.5779 18.3956 20.9979 18.2273 20.4179H17.86C16.5591 26.7367 15.2583 33.0554 13.9421 39.4353H8.87642C10.162 33.4981 11.6312 27.0267 12.9167 21.1047"
        fill="#F7F7F7"></path>
      <path
        d="M12.932 21.12C8.83051 24.7067 4.23926 28.5987 0.137737 32.1855C0.091825 32.1397 0.0459125 32.0939 0 32.0481C4.28517 27.6982 9.30494 22.2799 13.5901 17.9301L12.932 21.12Z"
        fill="#F7F7F7"></path>
      <path
        d="M62.9308 22.0357C64.5071 21.5321 65.8692 20.8452 67.2924 20.6926C71.1491 20.2958 73.7661 22.2799 74.4089 26.1262C75.1435 30.5371 74.2099 34.5512 70.8889 37.7716C68.6392 39.9542 65.8232 40.3663 62.9461 39.6947C61.6911 39.4048 60.6351 38.3211 59.5179 37.619C58.9823 39.0995 57.3753 39.71 54.6665 39.4658C55.294 36.4438 55.9061 33.4218 56.5336 30.415C57.6814 24.9204 58.8751 19.4411 59.977 13.9465C60.1913 12.8933 60.5739 12.4813 61.6452 12.5881C62.6247 12.6797 63.6347 12.6034 64.9815 12.6034C64.2622 15.8696 63.5888 19.0137 62.9308 22.0357ZM69.8635 28.8124C69.6799 27.103 69.5422 25.363 67.721 24.5846C66.3436 23.9894 64.9968 24.2641 63.8031 25.2562C61.3697 27.2709 60.3443 32.1549 61.7829 34.9175C62.288 35.8943 63.0226 36.398 64.1398 36.4133C65.5937 36.4285 66.7721 35.8943 67.6904 34.7954C69.1442 33.0554 69.5115 30.9339 69.8482 28.8124H69.8635Z"
        fill="#F7F7F7"></path>
      <path
        d="M14.1257 14.4349L13.5901 17.9301L18.3191 14.4959C27.1955 7.91769 36.7453 2.39257 47.6419 0.484729C51.8352 -0.247883 56.0133 -0.095256 60.1913 0.576305C65.5631 1.44628 70.8277 2.68257 75.7097 5.13987C79.1226 6.86456 82.2293 9.00135 84.7851 11.886C85.4585 12.6491 85.7187 13.3207 85.3667 14.3128C85.03 15.2743 84.8769 16.3122 84.6168 17.4569C83.2394 17.4569 81.8926 17.5027 80.5459 17.4264C80.2092 17.4111 79.7806 16.999 79.597 16.6785C74.8068 8.16189 66.9404 4.78883 57.7426 3.52202C46.2186 1.93469 36.0413 5.39934 26.4303 11.1687C25.0376 12.0081 23.7827 12.8018 22.39 13.8396L21.1504 14.6486L18.2885 14.4959"
        fill="#F7F7F7"></path>
      <path
        d="M43.4026 40C37.0667 39.9389 33.761 35.7722 34.7558 29.6213C35.7812 23.272 42.4844 19.1969 48.652 21.1352C52.8147 22.4478 54.3145 25.8056 53.9472 30.1861C53.534 35.0091 50.4426 38.489 45.8207 39.6642C44.9177 39.8932 43.9536 39.9237 43.4332 40H43.4026ZM39.546 31.056C39.5154 34.1696 40.2194 35.5585 41.6733 36.108C43.5404 36.8101 45.6523 36.2148 47.045 34.5665C48.606 32.7197 49.2641 30.5371 49.0652 28.1714C48.805 25.1188 47.2287 23.8673 44.2597 24.4625C43.3873 24.6304 42.4997 25.2104 41.8569 25.8209C40.1734 27.4388 39.6072 29.5603 39.546 31.056Z"
        fill="#F7F7F7"></path>
      <path
        d="M101.252 35.6806C103.196 36.0469 104.879 36.5354 106.594 36.6269C108.216 36.7185 109.425 35.6196 109.256 34.4291C109.165 33.7881 108.751 33.0707 108.262 32.6281C107.221 31.6971 106.012 30.9645 104.925 30.0792C102.048 27.7593 102.461 23.6231 105.752 21.8984C108.66 20.3721 111.751 20.5095 114.873 21.0742C115.225 21.1352 115.562 21.2573 116.113 21.41C115.837 22.4631 115.577 23.5315 115.286 24.7067C114.093 24.4778 112.975 24.142 111.843 24.0809C110.879 24.0352 109.853 24.1725 108.966 24.5236C107.711 25.012 107.527 25.943 108.354 26.9961C108.813 27.5761 109.455 28.034 110.068 28.4919C110.818 29.0566 111.675 29.4992 112.394 30.1097C115.057 32.3534 114.904 36.4285 112.011 38.3669C111.108 38.9774 109.991 39.4353 108.92 39.6337C106.425 40.0916 103.9 40.0916 101.405 39.3437C100.701 39.13 100.411 38.7942 100.594 38.0922C100.824 37.1917 101.084 36.2912 101.252 35.6654V35.6806Z"
        fill="#F7F7F7"></path>
      <path
        d="M83.9281 39.5574C84.6321 36.2148 85.2901 33.0707 85.9635 29.9113C87.1113 24.5999 88.2745 19.2884 89.3764 13.9617C89.5753 12.9697 89.9273 12.466 91.0292 12.5728C92.0546 12.6797 93.0953 12.5881 94.2737 12.5881C93.7534 15.1522 93.2636 17.5638 92.7586 19.9753C91.4577 26.1262 90.111 32.277 88.8407 38.4432C88.6724 39.2674 88.4275 39.6184 87.5552 39.5726C86.392 39.5116 85.2289 39.5574 83.9281 39.5574Z"
        fill="#F7F7F7"></path>
      <path
        d="M75.2965 39.5574C76.5974 33.5591 77.8523 27.8203 79.092 22.0815C79.245 21.41 79.5664 21.1047 80.301 21.1352C81.4641 21.1963 82.6272 21.1505 83.9281 21.1505C83.0557 25.2104 82.214 29.1024 81.3876 32.9944C80.9897 34.8412 80.5459 36.6727 80.2092 38.5195C80.0714 39.2827 79.8266 39.6032 79.0001 39.5574C77.837 39.4811 76.6739 39.5421 75.2965 39.5421V39.5574Z"
        fill="#F7F7F7"></path>
      <path
        d="M97.2121 39.4811H92.6208C93.2942 36.2301 93.9523 33.0707 94.6104 29.9266C95.1307 27.4235 95.697 24.9204 96.202 22.4173C96.3704 21.5626 96.6611 21.0589 97.6865 21.1505C98.7578 21.2421 99.8444 21.1658 101.13 21.1658C99.7985 27.3777 98.5129 33.4218 97.2121 39.4963V39.4811Z"
        fill="#F7F7F7"></path>
      <path
        d="M102.89 13.1528C102.63 14.4044 102.416 15.5949 102.094 16.7548C102.018 17.0296 101.589 17.3959 101.298 17.4111C100.089 17.4874 98.8802 17.4416 97.3957 17.4416C97.7171 15.9001 98.0079 14.5265 98.2834 13.1528H102.89Z"
        fill="#F7F7F7"></path>
    </svg>

    <!-- Texto y links -->
    <div
      class="flex flex-1 flex-col md:flex-row items-center justify-center gap-2 md:gap-4
        font-light text-sm md:text-base lg:text-lg text-center md:text-left"
    >
      <span
        >Nobilis® es una marca representada por Distribuidora Sevimex®</span
      >
      <a href="/aviso-de-privacidad" class="hover:underline"
        >Aviso de privacidad</a
      >
      <a href="/politica-de-garantia" class="hover:underline"
        >Política de garantía</a
      >
    </div>

    <div></div>
  </div>
</footer>
